<div class="container mt-4">
  <div class="card mx-auto" style="max-width: 600px;">
    <h1>User Registration</h1>
    <form #registrationForm="ngForm" (ngSubmit)="save(registrationForm)">
      <div class="form-group">
        <label for="userType">User Type</label>
        <select [(ngModel)]="userType" name="userType" class="form-control" id="userType" required>
          <option value="INDIVIDUAL">Individual</option>
          <option value="LEGAL_ENTITY">Legal Entity</option>
        </select>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="Enter Email" required email/>
        <div *ngIf="registrationForm.submitted && registrationForm.controls['email']?.invalid" class="text-danger">
          Email is required and must be valid.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Enter Password" required pattern="(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{7,}"/>
        <div *ngIf="registrationForm.submitted && registrationForm.controls['password']?.invalid" class="text-danger">
          Password must be at least 7 characters long, contain at least one uppercase letter, one number, and one special character.
        </div>
      </div>

      <div class="form-group">
        <label for="passwordConfirm">Confirm Password</label>
        <input type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Confirm Password" required/>
        <div *ngIf="registrationForm.submitted && password !== passwordConfirm" class="text-danger">
          Passwords do not match.
        </div>
      </div>


      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" [(ngModel)]="address" name="address" class="form-control" id="address" placeholder="Enter Address" required/>
        <div *ngIf="registrationForm.submitted && registrationForm.controls['address']?.invalid" class="text-danger">
          Address is required.
        </div>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" [(ngModel)]="city" name="city" class="form-control" id="city" placeholder="Enter City" required/>
        <div *ngIf="registrationForm.submitted && registrationForm.controls['city']?.invalid" class="text-danger">
          City is required.
        </div>
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" [(ngModel)]="country" name="country" class="form-control" id="country" placeholder="Enter Country" required/>
        <div *ngIf="registrationForm.submitted && registrationForm.controls['country']?.invalid" class="text-danger">
          Country is required.
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Enter Phone Number" required/>
        <div *ngIf="registrationForm.submitted && registrationForm.controls['phoneNumber']?.invalid" class="text-danger">
          Phone number is required.
        </div>
      </div>

      <div *ngIf="userType === 'INDIVIDUAL'">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control" id="firstName" placeholder="Enter First Name" required/>
          <div *ngIf="registrationForm.submitted && registrationForm.controls['firstName']?.invalid" class="text-danger">
            First name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control" id="lastName" placeholder="Enter Last Name" required/>
          <div *ngIf="registrationForm.submitted && registrationForm.controls['lastName']?.invalid" class="text-danger">
            Last name is required.
          </div>
        </div>
      </div>

      <div *ngIf="userType === 'LEGAL_ENTITY'">
        <div class="form-group">
          <label for="companyName">Company Name</label>
          <input type="text" [(ngModel)]="companyName" name="companyName" class="form-control" id="companyName" placeholder="Enter Company Name" required/>
          <div *ngIf="registrationForm.submitted && registrationForm.controls['companyName']?.invalid" class="text-danger">
            Company name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="pib">PIB</label>
          <input type="text" [(ngModel)]="pib" name="pib" class="form-control" id="pib" placeholder="Enter PIB" required/>
          <div *ngIf="registrationForm.submitted && registrationForm.controls['pib']?.invalid" class="text-danger">
            PIB is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="packageType">Package Type</label>
        <select [(ngModel)]="packageType" name="packageType" class="form-control" id="packageType" required>
          <option value="BASIC">BASIC</option>
          <option value="STANDARD">STANDARD</option>
          <option value="GOLD">GOLD</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
